:root {
  --color-primary: #171717;
  --color-secondary: #ececee;
  --color-background: #6998f0;
  --color-headings: #6998f0;
  --color-body: #ffff;
  --color-heading: #e4e4e4;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  width: 99%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*=============TYPOGRAPHY======================*/
h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  h1,
  h2,
  h3 {
    color: var(--color-headings);
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  p {
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

/*=================BLOCK==================*/
.container1 {
  max-width: 1800px;
  margin: 0 5rem 0 5rem;
  width: 100%;
}

@media screen and (max-width: 410px) {
  .container1 {
    margin: 0 5px 0 5px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .container1 {
    margin: 0 5px 0 5px;
    width: 100%;
  }
}

.block {
  padding: 4rem 0.05rem;
}

.block__heading {
  margin: 0;
}

.black__header__left {
  text-align: left;
}

.block__header__center {
  text-align: center;
}

.block--blue {
  background-color: var(--color-headings);
}

.block--white {
  background-color: var(--color-body);
  margin: auto;
}

/*=================GRID===================*/
.grid {
  display: grid;
}

@media screen and (min-width: 700px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1824px) {
  .grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*=================HEADER===================*/

/*=================DROPDOWN MENU===================*/
@media screen and (max-width: 440px) {
  .dropmenu {
    font-size: 2rem;
    margin-top: 0.95rem;
    margin-left: 5.17rem;
    padding-right: 1rem;
    width: 40px;
    height: 40px;
    flex-wrap: wrap;
  }

  .dropcontent {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .dropmenu {
    font-size: 2rem;
    margin-top: 0.95rem;
    margin-left: 5.17rem;
    padding-right: 1rem;
    width: 40px;
    height: 40px;
    flex-wrap: wrap;
  }

  .dropcontent {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .dropmenu {
    position: relative;
    display: inline-block;
  }

  .dropcontent {
    display: none;
  }

  .dropmenu:hover .dropcontent {
    display: block;
    position: absolute;
    min-width: 100px;
    top: 3.8rem;
    right: -10rem;
    background-color: #f5f3f3;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropcontent a {
    display: block;
    color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 10px;
    min-width: 255px;
    padding: 8px 0px 10px 8px;
    margin: 10px -10px 10px -35px;
    text-align: left;
    float: left;
  }

  .dropcontent a:hover {
    background-color: var(--color-background);
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
  }
}

/*=================FOOTER===================*/

@media screen and (max-width: 410px) {
  .footer2 {
    border-top: 1px solid #afafaf54;
    background-color: #ffff;
    padding: 7px 0;
    width: 100%;
  }

  .footer__section {
    display: block;
  }

  .footer2 h4 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__brand p {
    margin-top: 80px;
    margin-left: 10px;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer-col {
    margin: 10px 15px 10px 0;
  }

  .new--footer-links {
    text-align: center;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    list-style-type: none;
    margin: 20px 20px 50px 0;
  }

  .new--footer-links li {
    margin-bottom: 10px;
  }

  .social-links i {
    font-size: 2.5rem;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 60px;
    margin: 10px 1px 10px 1px;
    padding-top: 1px;
    padding-right: -10px;
  }

  .social-links > a > i {
    height: 60px;
    width: 60px;
  }

  .contact-icon {
    font-size: 3rem;
    text-align: center;
    display: inline-block;
    margin: 10px 0px 10px 175px;
    padding-top: 0.5rem;
  }

  h4.contact {
    margin-left: -2px;
  }

  .contact-number {
    margin: 2px 0 0 120px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {

  .footer2 {
    border-top: 1px solid #afafaf54;
    background-color: #ffff;
    padding: 7px 0;
    width: 101%;
  }

  .container2 {
    max-width: 1970px;
    background-color: none;
    margin: auto;
    justify-items: center;
  }

  .footer__section {
    display: inline-block;
  }

  .footer2 h4 {
    margin-left: 3.2rem;
  }

  .footer-row {
    display: flex;
  }

  .footer-col {
    width: 25%;
    padding: 0 10px;
    margin: 0 10px;
  }

  .footer-col-3 {
    width: 25%;
    padding: 0;
    margin: 0 2px 0 20px;
  }

  .footer__brand p {
    margin-top: 20rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .new--footer-links {
    font-size: 2rem;
    text-decoration: none;
    list-style-type: none;
    margin-top: 2rem;
  }

  .new--footer-links li {
    margin-top: 1rem;
  }
  .new--footer-links a {
    color: var(--color-background);
    margin-left: -0.5rem;
  }

  .new--footer-links a:hover {
    text-decoration: none;
    color: var(--color-background);
    border-bottom: 1px solid var(--color-background);
  }

  .social-links a {
    border-radius: 50%;
    background-color: #ffffff;
    border: 0.5px solid #6998f046;
    font-size: 2.5rem;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    margin: 10px 15px 10px 15px;
    padding-top: 0.6rem;
  }

  .social-links a:hover {
    background-color: #85b6ffc9;
    transition: 0.5s;
  }

  .contact-icon {
    border-radius: 50%;
    background-color: #ffffff;
    border: 0.5px solid #6998f046;
    font-size: 3rem;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    margin: 10px 15px 10px 110px;
    padding-top: 0.5rem;
  }

  h4.contact {
    margin-left: 7.5rem;
  }

  .contact-number {
    margin: 2px 0 0 70px;
    font-size: 2rem;
  }
}


}


@media screen and (min-width: 1024px) {
  .footer2 {
    border-top: 1px solid #afafaf54;
    background-color: #ffff;
    padding: 7px 0;
    width: 101%;
  }

  .container2 {
    max-width: 1970px;
    background-color: none;
    margin: auto;
    justify-items: center;
  }

  .footer__section {
    display: inline-block;
  }

  .footer2 h4 {
    margin-left: 3.2rem;
  }

  .footer-row {
    display: flex;
  }

  .footer-col {
    width: 25%;
    padding: 0 10px;
    margin: 0 10px;
  }

  .footer-col-3 {
    width: 25%;
    padding: 0;
    margin: 0 2px 0 20px;
  }

  .footer__brand p {
    margin-top: 20rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .new--footer-links {
    font-size: 2rem;
    text-decoration: none;
    list-style-type: none;
    margin-top: 2rem;
  }

  .new--footer-links li {
    margin-top: 1rem;
  }
  .new--footer-links a {
    color: var(--color-background);
    margin-left: -0.5rem;
  }

  .new--footer-links a:hover {
    text-decoration: none;
    color: var(--color-background);
    border-bottom: 1px solid var(--color-background);
  }

  .social-links a {
    border-radius: 50%;
    background-color: #ffffff;
    border: 0.5px solid #6998f046;
    font-size: 2.5rem;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    margin: 10px 15px 10px 15px;
    padding-top: 0.6rem;
  }

  .social-links a:hover {
    background-color: #85b6ffc9;
    transition: 0.5s;
  }

  .contact-icon {
    border-radius: 50%;
    background-color: #ffffff;
    border: 0.5px solid #6998f046;
    font-size: 3rem;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    margin: 10px 15px 10px 110px;
    padding-top: 0.5rem;
  }

  h4.contact {
    margin-left: 7.5rem;
  }

  .contact-number {
    margin: 2px 0 0 70px;
    font-size: 2rem;
  }
}

/* .footer {
  background: #ffffff;
  border-top: 1px solid #afafaf54;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: var(--color-background);
  font-size: 2rem;
}

.footer li {
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 20rem;
}

.connect_withme {
  text-align: center;
  margin-top: -27.5rem;
  margin-left: 10rem;
}

.footer-links {
  list-style-type: none;
  position: relative;
  right: 5rem;
}

.footer a:hover {
  border-bottom: 1px solid var(--color-background);
  color: var(--color-background);
  text-decoration: none;
}

.footer .icons {
  margin-top: 4rem;
}

.footer .icons a {
  border-bottom: none;
  padding-right: 2rem;
}

.copyright p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 22rem;
  margin-left: 10rem;
}

.footer__copyright {
  font-size: 1.5rem;
} */

/*=================NAV===================*/

.nav {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -3rem 0 -3rem -3rem;
  padding-top: 3rem;
  padding-right: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 240px;
  height: 70px;
  padding: 10px 0 0 2rem;
  margin-left: 15px;
  margin-right: -2rem;
}

.slogan {
  margin-top: 1rem;
  position: relative;
  left: 12px;
  font-size: 1.6rem;
}

.logo:hover {
  cursor: pointer;
}

.menu--span {
  justify-content: right;
  margin-left: -22rem;
}

.menu--item {
  margin-top: 0.5rem;
  margin-left: 15rem;
  padding-right: 0.5rem;
  width: 40px;
  height: 40px;
  flex-wrap: wrap;
}

.nav__list {
  margin: 0;
}

.nav__item {
  padding: 1.8rem 10.5rem;
}

.nav__item > a {
  color: var(--color-primary);
  font-size: 2rem;
  text-decoration: none;
  transition: 0.2s;
}

.nav__item > a:hover {
  border-bottom: 1px solid #000;
  transition: 1s;
}

@media screen and (min-width: 700px) {
  .nav {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -3rem;
    padding: 6rem 4rem 1rem;
    width: 100%;
  }

  .logo {
    width: 250px;
    height: 75px;
    padding: 0.5rem 0 0 0;
    margin-left: 12rem;
    margin-right: -4rem;
  }

  .slogan {
    margin-top: 1rem;
    position: relative;
    left: 122px;
    font-size: 1.5rem;
  }

  .logo:hover {
    cursor: pointer;
  }

  .menu--span {
    justify-content: right;
    margin-left: -2rem;
  }

  .menu--item {
    margin-top: 0.5rem;
    padding-right: 2rem;
    width: 40px;
    height: 40px;
    flex-wrap: wrap;
    margin-right: 10rem;
  }

  .nav__item {
    padding: 1.8rem 0.5rem;
    margin-right: -15rem;
  }

  .nav__list {
    margin: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    justify-content: space-between;
    margin: -8rem 0 0 0.5rem;
    margin: -3rem;
    padding: 3rem;
    position: relative;
    left: -100px;
    width: 100%;
  }

  .logo {
    width: 240px;
    height: 70px;
    margin-top: 1.5rem;
    margin-right: -110px;
    padding: 0.5rem 0 0 0;
  }

  .slogan {
    float: right;
    position: relative;
    top: 20px;
    font-size: 1.8rem;
  }

  .collapsible__content {
    display: flex;
    max-height: 100%;
  }

  .menu--item {
    display: none;
  }

  .nav__list {
    margin: 1rem;
    width: auto;
    display: flex;
    font-size: 1.6rem;
    position: relative;
    left: 380px;
    /* border-bottom: 0.5px solid var(--color-background); */
  }

  .nav__list > li > a:hover {
    border-bottom: 1px solid var(--color-background);
    transition: 100ms;
    text-decoration: none;
  }

  .nav__item > a {
    color: var(--color-primary);
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.2s;
  }

  .nav__item {
    padding: 1.8rem 0.5rem;
    margin-right: 8rem;
  }
}

/*=================COLLAPSIBLE===================*/
.collapsible {
  margin-right: 0;
  padding-right: 0;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: -0.6rem;
  font-size: 3rem;
}

.chevron {
  width: 30px;
  height: 30px;
  transition: 0.2s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  color: var(--color-primary);
}

.collapsible--expanded .chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
}

@media screen and (min-width: 700px) {
  .collapsible__header {
    display: flex;
    justify-content: space-between;
  }

  .collapsible__heading {
    margin-top: -0.6rem;
    font-size: 3rem;
  }

  .chevron {
    width: 30px;
    height: 30px;
    transition: 0.2s;
  }

  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
    color: var(--color-primary);
    margin-right: 25rem;
    padding-right: 10rem;
  }

  .collapsible--expanded .chevron {
    transform: rotate(90deg);
  }

  .collapsible--expanded .collapsible__content {
    max-height: 100vh;
    float: left;
  }
}

@media screen and (min-width: 1024px) {
  .collapsible__content {
    max-height: 0;
    overflow: var(--color-primary);
    transition: all 0.2s;
    color: var(--color-primary);
    margin-right: 8rem;
    padding-right: 8rem;
  }
}

/*=================LISTS===================*/

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-primary);
}

.list__item {
  margin-right: -20rem;
  align-content: center;
}

.list--inline .list__item {
  display: inline;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick_01.png);
  padding-left: 1.5rem;
  padding-right: 18rem;
}

.list--tick .list__item {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.blank {
  color: var(--color-body);
  list-style-image: none;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 1rem;
    font-size: 2rem;
  }
}

/*=================HEADINGS===================*/

.sig-heading {
  text-align: center;
  margin-top: 10rem;
  font-weight: 600;
  color: var(--color-headings);
}
