<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eclipse Construction Group</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <footer class="footer2">
        <div class="container2">
            <div class="footer-row">
                <div class="footer-col">&nbsp;</div>
                <div class="footer-col">
                    <h4>QUICK LINKS</h4>
                    <ul class="new--footer-links">
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">PORTFOLIO</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">CAREERS</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>FOLLOW US ON SOCIAL MEDIA</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <h4 class="contact">CONTACT US</h4>
                    <div class="Contact-icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <p class="contact-number">407-555-5555</p>

                </div>

                <div class="footer-col">&nbsp;</div>
            </div>
            <div class="footer__brand">
                <p>&copy &nbsp;Copyright 2023 Eclipse Construction Group</p>
            </div>
        </div>
    </footer>


</body>